.SchoolSearch {
  margin-bottom: 500px;
}

.SchoolSearch > .wrapper > h1 {
  margin-bottom: 25px;
}
.SchoolSearch__form {
  display: flex;
  justify-content: center;
}
.SchoolSearch__form > button {
  flex-basis: 25%;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  padding: 10px 25px;
  margin-left: 10px;
}
.SchoolSearch__form > input:not(:first-child) {
  margin-left: 10px;
}

.SchoolSearch__results {
  margin-top: 35px;
}
.SchoolSearch__results__message {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 25px;
}
.SchoolSearch__results__message > .text > span.highlight {
  font-weight: 700;
}
.SchoolSearch__results__message > .text > span.highlight--red {
  color: red;
}
.SchoolSearch__results__message > .text > span.highlight--green {
  color: green;
}
.SearchResults {
  list-style-type: none;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.SearchResults__item {
  color: #000;
  background-color: rgba(0, 0, 0, 0.075);
}
.SearchResults > a:not(:first-child) > .SearchResults__item {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.SearchResults > a:not(:last-child) > .SearchResults__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.SearchResults__item:hover {
  color: blue;
  box-shadow: inset 0px 0px 0px 2px blue;
  background-color: #fff;
}
.SearchResults__item__name {
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 15px 25px;
}
