.FeatureSection {
  
}
.FeatureSection > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100vh;
  min-height: 500px;
  max-height: 640px;
  padding: 50px 0px;
  margin: 0px auto;
}
.FeatureSection:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.075);
}
.FeatureSection:nth-child(odd) > .wrapper {
  flex-direction: row-reverse;
}
.FeatureSection__column {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50%;
}
.FeatureSection:nth-child(odd) .FeatureSection__column {
  justify-content: flex-end;
}
.FeatureSection__text {
  max-width: 480px;
}
.FeatureSection__text > h3 {
  color: #433e80;
  margin-bottom: 25px;
}
.FeatureSection__text > p {
  font-weight: 500;
  line-height: 32px;
}
.FeatureSection__column__image {
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 360px;
  background-color: rgb(242, 242, 242);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.FeatureSection__column__image[data-feature-name="multiple-houses"] {
  background-image: url('./images/multiple-houses-screenshot.png');
}
.FeatureSection__column__image[data-feature-name="multiple-teachers"] {
  /* background-image: url('../../../../static/placeholder-image.png'); */
  background-image: url('./images/multiple-teachers-screenshot.png');
}
.FeatureSection__column__image[data-feature-name="realtime-updates"] {
  background-image: url('./images/realtime-updates.png');
  background-color: #ededed;
}
.FeatureSection__column__image[data-feature-name="public-scoreboard"] {
  background-image: url('./images/public-scoreboard.png');
  background-color: #fff;
}
.FeatureSection__column__image[data-feature-name="cross-device"] {
  background-image: url('../../../../static/placeholder-image.png');
}
