.Landing {

}
.Intro {
  
}
.Intro > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  min-height: 500px;
}

.Intro__content {
  flex-basis: 50%;
  color: #000000;
  padding: 0px 50px;
}
.Intro__content__summary {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.Intro__content__buttons {
  margin-top: 35px;
}
.Intro__content__buttons > button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 35px;
}

.Intro__image {
  flex-basis: 50%;
  min-width: 360px;
  height: 360px;
  background-color: #eee;
  background-image: url('../../static/placeholder-image.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
